@charset "utf-8";

/*------------------------------------------------------------------------->
	Default Control and Roots 
<-------------------------------------------------------------------------*/

html {
	font-family: "Poppins", "Inter", Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

input, button {
  all: unset;            
}

:root {
	--app-bg-color: #14141b;
  --app-border-rad: 8px;
  --app-input-bg: #272a31;
  --app-btn-color: #ff7b00;
	--app-text-color: #fefefe;
}

/*------------------------------------------------------------------------->
	Utility Classes
<-------------------------------------------------------------------------*/

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

.f-col {
	flex-direction: column;
}

/*------------------------------------------------------------------------->
	Base Structure
<-------------------------------------------------------------------------*/

body {
	background-color: var(--app-bg-color);
}

main {
	height: 100svh;	
	width: 100%;
	align-items: center;
	justify-content: center;
}

/*------------------------------------------------------------------------->
	Text Styling
<-------------------------------------------------------------------------*/

h1 {
	font-size: 3.5rem;
 	height: 120px; 
	line-height: 120px;
	color: var(--app-text-color);
}

p {
	font-size: 1.2rem;
	color: var(--app-text-color);

	span {
		font-weight: 700;
	}
}

/*------------------------------------------------------------------------->
	Input Fields
<-------------------------------------------------------------------------*/
.error-wrapper {
	height: 40px;
	width: 100%;
	text-align: center;
}

.error-catcher {
	color: #b11;
	font-weight: 600;
}

.error-styling {
	border: 1px solid #b11;

	&:focus {
		caret-color: #b11;;
	}
}

form {
	height: 150px;
	width: 1200px;
	padding: 25px;
	justify-content: space-between;
	background-color: var(--app-bg-color);
}

.submit-btn,
input {
  height: 46px;
  font-size: 1.2rem;
	padding-left: 5px;
	background-color: var(--app-input-bg);
	color: var(--app-text-color);
  border-radius: var(--app-border-rad);
}

input { 
	margin-right: 20px;
	width: 340px;
}

.submit-btn {
	width: 86px;
	text-align: center;
	background-color: var(--app-btn-color);
}


/*------------------------------------------------------------------------->
	Contact Creation/Display 
<-------------------------------------------------------------------------*/

.card-wrapper {
	height: 450px; 
	width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 20px;
	padding: 25px;
	background-color: var(--app-bg-color);
	border-radius: var(--app-border-rad);
}

div {
	height: 125px;
	width: 100%;
	background-color: var(--app-input-bg);
	border-radius: var(--app-border-rad);
	overflow: hidden;
	padding: 20px; 
	position: relative;
	transition: all 0.5s ease;
}

div:hover {
	scale: 1.02;
}

.delete-btn, .email-btn {
	width: 20px;
	height: 20px;
	line-height: 30px;
	color: var(--app-text-color);
  border-radius: var(--app-border-rad);
	position: absolute;
	transition: all 0.5s ease;

}

.email-btn {
	top: 28px;
	right: 60px;

	&:hover {
	color: #1b1;
	}

	i {
		font-size: 1rem;
	}
}

.delete-btn {
	top: 25px;
	right: 20px;

	cursor: pointer;
	&:hover {
	 color: #b11
	}

	i {
		font-size: 1rem;
	}
}
/*------------------------------------------------------------------------->
	Total Contacts Count
<-------------------------------------------------------------------------*/

.counter-wrapper {
	height: calc(100% - 120px - 40px - 150px - 450px);
	width: 500px;
	text-align: center;
	align-items: center;
	justify-content: center;
}
